<h1>メッセージ一覧</h1>
<% @messages.each do |message| %>
  名前:<%= message.name %>
  内容:<%= message.body %>
  <br>
<% end %>

<%= form_for(@message) do |f| %>
  名前:
  <%= f.text_field :name %>

  内容:
  <%= f.text_field :body %>
  <%= f.submit %>
<% end %>

<form class="new_message" id="new_message" action="/messages" accept-charset="UTF-8" method="post">
    
    <!-- 中略 -->
<input type="text" name="message[name]" id="message_name" />
<!-- 中略 -->
<input type="text" name="message[body]" id="message_body" />
<input type="submit" name="commit" value="Create Message" />
<!-- 中略 -->